@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  background: url(https://ptcdn.info/doodle/2024/5d07273900d01f33da0f618c_cl018k3w7c.png), url(https://ptcdn.info/doodle/2024/5d07273900d01f33da0f618c_l0e1qbuing.png);
  background-size: auto, cover;
  background-position: top, bottom;
  background-repeat: no-repeat, repeat;
}
